#start {
    height: calc(100vh - 4em); /* Optional if you want a specific height */
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    margin-top: -1em;
}
main section{
    border-top: 1px solid var(--foreground);
    padding: 5px;
}
a{
    color: var(--background);
    text-decoration: none;
    padding: 5px;
    margin: 0.5rem;
    background-color: var(--foreground);
    box-shadow: 10px 5px var(--background), 10px 5px 0 1px var(--foreground);
    transition: all 0.3s ease;
}
a:hover{
    background-color: var(--background);
    color: var(--foreground);
    box-shadow: 0 0 0 2px var(--foreground);
    border-radius: 5px;
}
header{
    color: #fff;
    padding: 1em;
    width: calc(100%-2em);
    height: 0;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    text-shadow: 0.1em 0.1em 0 #000;
}
.header{
    display: flex;
    flex-direction: column;
}
.header *{
    margin-bottom: -1rem;
    padding: 0 1rem 0 1rem;
}
footer{
    background-color: var(--footer);
    padding: 1em;
    margin-top: 1em;
    width: calc(100%-2em);
}
#rain{
    position: absolute;
    width: 100%;
    height: calc(100vh - 3em);
    top: 0;
    z-index: 0;
}
button{
    background: none;
    border: none;
    color: var(--foreground);
    height: 5em;
    cursor: pointer;
}
.icon{
    margin-top: 1.5em;
    min-height: 3em;
    min-width: 3em;
    padding: 0.5em;
    background-color: var(--background);
    border-radius: 1em;
}
header *{
  z-index: 1;
}
/* The switch - the box around the slider */
.switch {
    margin: 1.3em 0 0 0.1em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    min-width: 3.2em;
    height: 3.2em;
    overflow: hidden;
    transition: .4s;
    border-radius: 50%;
    outline: 1px solid var(--foreground);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The background */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: .4s;
  }
  /* circle */
  .slider:before {
    position: absolute;
    content: "";
    height: 3.2em;
    width: 0.8em;
    left: 1.2em;
    top: 0.8em;
    background-image: url("https://hc-cdn.hel1.your-objectstorage.com/s/v3/f0e7b6804fc15fee57791b1b54d3e6a27a727482_envsprite_full-moon.png"), url("https://hc-cdn.hel1.your-objectstorage.com/s/v3/eb35384bb72ba49513a14569ee75b0945d458279_sun__texture__je1_be1_1_.png");
    background-size: contain;
    background-position: top, bottom;
    background-repeat: no-repeat;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #B5D1FF;
  }
  
  .switch input:checked ~ .grass {
    background-color: #59C93C;
  }
  
  .switch input:checked + .slider:before {
    transform: translateY(-2.4em);
  }
  
  .switch:hover input:not(:focus) + .slider {
    background-image: linear-gradient(#2B3141, #A83A05);
  }
  .switch:hover input:not(:focus) ~ .grass {
    background-color: #3E8E2A;
  }
  
  .switch:hover input:not(:focus) + .slider:before{
    transform: translateY(0.8em);
  }
  .switch:hover input:checked:not(:focus) + .slider:before{
    transform: translateY(-1.6em);
  }
  .grass{
    position: absolute;
    content: "";
    height: 0.8em;
    width: 3.2em;
    left: 0;
    bottom: 0;
    background-color: #1F4715;
  }

  /* earbuds */


#buds {
  --rs: calc(30vmin / 1460);
  height: 30vmin;
  width: calc(1471 * var(--rs));
  border-radius: calc(300 * var(--rs));
  overflow: hidden;
  filter: drop-shadow(
    calc(50 * var(--rs)) calc(-50 * var(--rs)) calc(50 * var(--rs)) rgba(0,0,0,0.5)
  );
  position: fixed;
  bottom: 10px;
  right: 10px;
  touch-action: none;
  user-select: none;
  cursor: grab;
}

#case {
  position: absolute;
  height: 30vmin;
  width: calc(1471 * var(--rs));
}

#dial {
  --spin: 0deg;
  position: absolute;
  height: calc(620 * var(--rs));
  width: calc(620 * var(--rs));
  left: calc(-10 * var(--rs));
  top: calc(-10 * var(--rs));
  transition: transform 0.1s ease-in;
  transform: rotate(var(--spin));
}
@keyframes click{
  0% {transform: scale(1,1) rotate(var(--spin));}
  50% {transform: scale(0.9,0.9) rotate(var(--spin));}
  100% {transform: scale(1,1) rotate(var(--spin));}
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.terminal b{
  color: #FF5E0E;
}
.neofetch{
  display: flex;
  gap: 1vw;
}
.neofetch{
  width: 100%;
}
.neofetch .terminal{
  width: 100%;
}
.neofetch img{
  width: calc(95vw - 250px);
  max-width: 512px;
  height: auto;
  margin-top: 1em;
}